header {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.item {
    margin: 1em;
    flex: 1 400px;
    height: 18em;
}

.item1 {
    background-color: #F77659;
}

.item2 {
    background-color: #F9DD02;
    flex-grow: 3;
}

.item3 {
    background-color: #127596;
}

.item4 {
    background-color: #C2EDF9;
}

.item5 {
    background-color: #326391;
    flex-grow: 3;
}

.item6 {
    background-color: gray;
}